<html>

<head>
    <title>{{projectName}} -- Mochadoc Test Documentation</title>

    <link rel="stylesheet" href="{{fileRoot}}assets/doc-style.css" media="screen">
    <link rel="stylesheet" href="{{fileRoot}}assets/github-gist.css" media="screen">
</head>

<body>
    <header>
        <a href="{{fileRoot}}index.html"><span id="library-name">{{projectName}}</span>
        <span id="subtitle">Mochadoc-Generated Test Documents</span></a>
    </header>

    <div class="content">
        {{{content}}}
    </div>

    <script src="{{fileRoot}}assets/code-collapse.js"></script>
    <script src="{{fileRoot}}assets/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>